html,

html{
    box-sizing: border-box ;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

button {
    display: inline-block;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card-container div {
    display:flex;
    border: 1px solid black;
    margin: 1em;
    padding: 2em;
}

.block-div,
.inline-div,
.inline-block-div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

p#last_p {
    margin: 100px 50px 25px;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: green;
    color: yellow;
    box-shadow: -10px 10px 10px blue;
}
